<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : 'DETALLE' }) %>

  <body>
    <%- include('../partials/header') %>  
    <main class="main__detalleProducto">
      <div class="container my-5  products-wrapper">
        <div class="product-detail">
          <div class="row">
            <div class="col-12 col-md-7 col-lg-6">
              <img src="/images/products/<%= image %>" alt="product image" class="product-detail-img">
              
            </div>
            <div class="col-12 col-md-5 col-lg-6 my-auto">
              <article class="product-detail-info">
                <span class="item__info--licence">nombre categoria</span>
                <h2 class="product-detail-title"><%= name %></h2>
                <p class="product-detail-description">
                  <%= description %>
                </p>
                <% if (discount) { %>
                  
                    <span class="productDetail_precio-subrall">$<%= toThousand(price) %></span>
                  
                  <p class= "product-detail-priceDiscount col-12 d-flex">
                    <span class="product-detail-price">$<%= toThousand(price-(price*discount/100).toFixed(0)) %></span>
                    <span class="product-detail-discount"><%= discount%>% OFF</span>
                  </p>
                  
                <% } else{ %>
                  <p class="product-detail-price">
                    $<%= toThousand(price) %>
                  </p>
    
                <% } %>
    
                <!-- <ul class="actions-list">
                  <li>
                    <i class="fas fa-credit-card"></i>
                    <p>Pagá en 12 cuotas sin interes</p>
                  </li>
                  <li>
                    <i class="fas fa-store"></i>
                    <p>Retiro gratis en locales del vendedor</p>
                  </li>
                </ul>  -->
                <div class="col-12 d-flex flex-column gap-3">
                  <button  type="button" class="btn btn-primary">COMPRAR AHORA</button>
                  <button type="button" class="btn btn-light buy-now-button">AGREGAR AL CARRITO</button>
                </div>
                
                
              </article>
            </div>
          </div>
        </div>
      </div>
      <section class="section__productosDetail">
        <h3>Productos destacados</h3>
        <%- include('../components/carousel-destacados') %>
      </section>

      
    </main>  

    <%- include('../partials/footer') %>
    <%- include('../components/scriptSlider') %>
    

  </body>

</html>