<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
    title : 'DETALLE'
}) %>

  <body>
    <%- include('../partials/header') %>
    
      <main class="detalle-producto-main">
        <section class="product-details">
          <div class="image-container">
            <img src="/images/products/<%= image %>" alt="">
          </div>
          <div class="product-details-container">
            <div class="description-prev">
              <a href="/favoritos">
                <i class="fa-regular fa-heart"></i>
              </a>
              <h2 class="name-product"><%= name %></h2>
              <p class="description--precio">Precio:</p>
              <p class="price">$ <%= price %></p>
            </div>
            <div class="product-options">
              <div class="option">
                <div class="option-icon"><i class="fas fa-credit-card"></i></div>
                <p class="option-label">Medio de pago</p>
              </div>
              <section class="card__credit">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
              </section>
              <div class="option">
                <div class="option-icon"><i class="fa-solid fa-truck"></i></div>
                <p class="option-label">Información de envío</p>
              </div>
              <div class="option">
                <div class="quantity-control">
                  <button class="quantity-button"><i class="fas fa-minus"></i></button>
                  <span class="quantity-number">1</span>
                  <button class="quantity-button"><i class="fas fa-plus"></i></button>
                </div>
              </div>
              <section class="buttons">
                <button class="compra">Compra</button>


                <button class="add-to-cart">Agregar al carrito</button>
              </section>
            </div>
          </div>
          </div>
        </section>

      </main>
      <aside class="home__aside">
        <section class="section__aside--descripcion">
          <h3>Descripción:</h3>
          <p><%= description %></p>
        </section>
      </aside>



      <%- include('../partials/footer') %>

  </body>

</html>