<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : 'EDITAR' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-12 col-md-11  mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Productos</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Editando: <%= name %></li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="card-body">
                                <form action="/products/update/<%= id %>?_method=PUT" method="POST" class="row" enctype="multipart/form-data">
                                    <div class="col-12 col-md-4 my-auto">
                                        <img src="/images/products/<%= image%>" alt="" class="img-fluid mx-auto d-block">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="row">
                                            <div class="col-12 col-md-12 mb-3">
                                                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput"
                                                    placeholder="Nombre del producto" name="name" value="<%= name %>">
                                            </div>
                                            
                                            <div class="col-12 col-md-4 mb-3">
                                                <label for="categoryId" class="form-label">Categoria</label>
                                                <select class="form-select <%= locals.errors && (errors.category && 'is-invalid') %>" aria-label="Default select example" name="category" id="category">
                                                    <option selected hidden value="<%= category.id %>"><%= category.name %></option>
                                                    <% categories.forEach(category => { %>
                                                        <option value="<%= category %>" <%= locals.old && (old.category === category.id && 'selected') %>><%= category.name %> </option>
                                                        
                                                    <% }) %>
                                                </select>
                                                <small class="ms-1 text-danger"><%= locals.errors && (errors.category && errors.category.msg) %></small>
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <label for="brandId" class="form-label">Marca</label>
                                                <select class="form-select <%= locals.errors && (errors.brand && 'is-invalid') %>" aria-label="Default select example" name="brand" id="brand">
                                                    <option selected hidden value="<%= brand%>"><%= brand.name %></option>
                                                    <% brands.forEach(brand => { %>
                                                        <option value="<%= brand.id %>" <%= locals.old && (old.brand === brand.id && 'selected') %>><%= brand.name %> </option>
                                                    <% }) %>
                                                </select>
                                                <small class="ms-1 text-danger"><%= locals.errors && (errors.brand && errors.brand.msg) %></small>
                                            </div>
                                            

                                            <div class="col-12 col-md-4 mb-3">
                                                <label for="sectionId" class="form-label">Sección</label>
                                                <select class="form-select <%= locals.errors && (errors.section && 'is-invalid') %>" aria-label="Default select example" name="section" id="section">
                                                    <option selected hidden value="<%= section %>"><%= section.name %></option>
                                                    <% sections.forEach(section => { %>
                                                        <option value="<%= section%>" <%= locals.old && (old.section === section.id && 'selected') %>><%= section.name %> </option>
                                                    <% }) %>
                                                </select>
                                                <small class="ms-1 text-danger"><%= locals.errors && (errors.section && errors.section.msg) %></small>
                                            </div>

                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="price" class="form-label">Precio</label>
                                                <input type="number" class="form-control" id="price" name="price"
                                                    value="<%= price %>">
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="discount" class="form-label">Descuento</label>
                                                <input type="number" class="form-control" id="discount" name="discount"
                                                    value="<%= discount %>">
                                            </div>

                                            <div class="col-12 col-md-12 mb-3">
                                                <label for="description" class="form-label">Descripción</label>
                                                <textarea class="form-control" style="resize: none;" name="description"
                                                    id="description"><%= description %></textarea>
                                            </div>

                                        </div>

                                        <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                                            <a href="/admin" class="btn btn-success me-auto">Volver</a>
                                            <label for="image" class="btn btn-secondary">Cambiar imagen Principal</label>
                                            <input hidden class="form-control" type="file" id="image" name="image">
                                            <label for="images" class="btn btn-secondary">Cambiar imágenes</label>
                                            <input hidden class="form-control" type="file" id="images" name="images">
                                            <button class="btn btn-success" type="submit">Guardar cambios</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>