<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title : 'LOGIN' }) %>

    <body class="login__body">

        <%- include('partials/header') %>


            <main class="login__main">
                <figure class="registro_logo">
                    <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
                </figure>

                <h1>Inicia tu sesión</h1>
                <form method="POST">
                    <div class="login__main--subt">
                        <h4>Ingresa para poder comprar con mayor facilidad</h4>
                    </div>

                    <form action="login__main--form">
                        <div class="login__main--mail">
                            <input class="form-control <%= locals.errors && (errors.email && 'is-invalid') %>"
                                type="email" name="email" id="email" placeholder="Ingrese su email" name="email">

                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.email && errors.email.msg); %>
                            </small>
                        </div>

                        <div class="login__main--pass">
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="Ingrese su contraseña" name="password">

                            <a class="text-white small" href="">Olvidé mi contraseña</a>
                        </div>
                        <div>
                            <small class="text-danger ms-2">
                                <%= locals.errors && (errors.password && errors.password.msg); %>
                            </small>
                        </div>
                        
                        <div class="login__main--sesion">
                            <input class="login__main--buton" type="submit" value="Iniciar Sesión">
                        </div>

                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="remember"
                                    name="remember" />
                                <label class="form-check-label" for="remember">
                                    Recordame
                                </label>
                            </div>
                            

                            <div class="googlefacebook">
                                <h3>o inicia sesion con</h3>
                                <i class="fa-brands fa-google"></i>
                                <i class="fa-brands fa-facebook"></i>
                            </div>

                            <div class="login__main--registro">
                                <p><label for="">¿Primera vez aquí? </label>
                                    <a class="login--registro" href="/users/register">Crea tu cuenta</a>
                                </p>
                            </div>

                    </form>

                    <div class="profile--term">
                        <p>Al continuar, aceptas los <a class="profile--condiciones" href="/info/condiciones">Terminos y
                                Condiciones
                                y la Politica de Privacidad</a> de Almacaen Regional</p>
                    </div>
                </form>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>