<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title : 'PROFILE' }) %>

    <body>

        <%- include('partials/header') %>

            <section class="profile_section">
                <figure class="registro_logo">
                    <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
                </figure>
                <h1>datos de perfil</h1>
                <form action="/users/update?_method=PUT" method="POST">
                    <div>
                        <label class="form-label" for="name">Nombre</label>
                        <input class="form-control" type="text" id="name" name="name" value="<%= name %>">
                        <small class="ms-1 text-danger" id="msgError-name">
                            <%= locals.errors && (errors.surname && errors.surname.msg) %>
                        </small>
                    </div>
                    <div>
                        <label class="form-label" for="surname">Apellido</label>
                        <input class="form-control" type="text" id="surname" name="surname" value="<%= surname %>">
                        <small class="ms-1 text-danger" id="msgError-surname">
                            <%= locals.errors && (errors.surname && errors.surname.msg) %>
                        </small>
                    </div>
                    <div class="d-flex justify-content-between gap-2">
                        <div class="col-6 col-md-6 mb-2">
                            <label class="form-label" for="birthday">Cumpleaños</label>
                            <input class="form-control" type="date" id="birthday" name="birthday"
                                value="<%= birthday %>">
                            <small class="ms-2 text-danger" id="msgError-birthday">
                                <%= locals.errors && (errors.birthday && errors.birthday.msg) %>
                                </small>
                        </div>
                        <div class="col-6 col-md-6 mb-2">
                            <label class="form-label" for="gender">Género</label>
                            <select class="form-select" name="gender" id="gender">
                                <option selected hidden value="">Seleccione su género</option>
                                <option value="v" <%=gender==='v' ? 'selected' : '' %>>Hombre</option>
                                <option value="m" <%=gender==='m' ? 'selected' : '' %>>Mujer</option>
                                <option value="o" <%=gender==='o' ? 'selected' : '' %>>Prefiero no decirlo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="address">Domicilio</label>
                        <input value="<%= address.address %>" type="text" class="form-control" name="address">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="province">Provincia</label>
                        <select id="province" class="form-control" name="province">
                            <% if (address.province) { %>
                                <option selected value="<%= address.province %>"><%= address.province %></option>
                            <% }else{ %>
                            <option selected hidden>Elija la provincia...</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="city">Localidad</label>
                        <select id="city" class="form-control" name="city" disabled>
                            <% if (address.city) { %>
                                <option selected value="<%= address.city %>"><%= address.city %></option>
                            <% }else{ %>
                            <option selected hidden>Elija la localidad...</option>
                            <% } %>
                        </select>
                    </div>
                    </div>
                    </div>
                    <div class="col-12 col-md-12 mb-3">
                        <label class="form-check-label" for="about">
                            Acerca de mí
                        </label>
                        <textarea style="resize: none;" name="about" id="about" rows="5"
                            class="form-control"><%= about %></textarea>
                    </div>
                    <label class="form-label" for="name">Correo</label>
                    <input class="form-control" type="email" id="email" name="email" value="<%= email %>">

                    <div class="profile_section--btn d-flex justify-content-between">
                        <button class="profile_section--buton"><a href="/">Volver</a></button>
                        <button class="profile_section--buton" type="submit">Modificar</button>
                    </div>

                    <div class="login--term">
                        <p>Al continuar, aceptas los <a class="login--condiciones" href="/info/condiciones">Terminos y
                                Condiciones
                                y la Politica de Privacidad</a> de Almacaen Regional</p>
                    </div>

                </form>
            </section>

            <%- include('partials/footer') %>

                <script src="/javascripts/moment.js"></script>
                <script src="/javascripts/profile.js"></script>
    </body>

</html>