<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h3 class="products-title mt-2 ">Resultados de la búsqueda: <%= keywords %></h3>
			</div>
			<div class="home__main__section__contenedor-articulos">
			<% if (results.length) { %>
				<% results.forEach(product => { %>
					<div class="home__main__section__contenedor-articulos mb-4">
						<%-include('partials/products',{
							...product,
							toThousand
						})%>
					</div>
				<% }) %>
			<% }else{ %>
				<div class="col-12">
					<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
				</div>
			<% } %>
		</div>	
		</div>
	</div>

	<%- include('partials/footer') %>
</body>	
</html>