<article class="home__main__article">
    <a href="/products/detalleProducto/<%= id %>">
        <figure class="home__main__article__figure">
            <img src="/images/products/<%= image %>" alt="">
        </figure>

        <div class="home__main__article__contendeor--precio-descuento-descr">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$<%= toThousand(price) %></p>
            <p class="descuento"><%= discount %>% off</p>
            <h4><%= name %></h4>
        </div>
    </a>
</article>